$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass/css3";

@import "landing.sass";

// Fonts
@include font-face("Avenir-Light", font-files("/styles/fonts/Avenir-Light.otf", opentype));
@include font-face("Avenir-Medium", font-files("/styles/fonts/Avenir-Medium.otf", opentype));
@include font-face("Avenir-Black", font-files("/styles/fonts/Avenir-Black.otf", opentype));
@include font-face("Avenir-Book", font-files("/styles/fonts/Avenir-Book.otf", opentype));
@include font-face("Avenir-Heavy", font-files("/styles/fonts/Avenir-Heavy.otf", opentype));


// Overrides
.btn{
  border-radius: 0px !important;
}

*:focus, *:active {
    outline: 0 !important;
}