$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass/css3";

@import "landing.sass";

// Fonts
@font-face{
  font-family: "Avenir-Light";
  src: url("fonts/Avenir-Light.otf") format('opentype');
}
@font-face{
  font-family: "Avenir-Medium";
  src: url("fonts/Avenir-Medium.otf") format('opentype');
}
@font-face{
  font-family: "Avenir-Black";
  src: url("fonts/Avenir-Black.otf") format('opentype');
}
@font-face{
  font-family: "Avenir-Book";
  src: url("fonts/Avenir-Book.otf") format('opentype');
}
@font-face{
  font-family: "Avenir-Heavy";
  src: url("fonts/Avenir-Heavy.otf") format('opentype');
}

// Overrides
.btn{
  border-radius: 0px !important;
}

*:focus, *:active {
    outline: 0 !important;
}